[Unit]
Description=vpnc -- cisco ipsec vpn
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=forking
User=root
ExecStart=/usr/bin/vpnc
#ExecStop=/usr/bin/screen -S autoscreen -X quit

[Install]
WantedBy=multi-user.target
